/* Reset the container */
.container {
  max-width: none !important;
  width: 1040px;
}

.navbar {
  margin-bottom: 10px !important;  
}

h3 {
  margin-top: 0px !important;
  font-weight: bold;
}

body {      
  background-color: #fff;
}

span.navbar-brand, .navbar-default .navbar-brand,span.navbar-brand:hover, .navbar-default .navbar-brand:hover {
  font-weight: bold;
  color: steelblue;
  cursor: default;
}

#map-box {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 20px;
}

#map-box.hidden {
  display: none;
}

#map-box.loading {
  background-image: url('loading-map.gif');
}

.hidden {
  display: none;
}

div#upload-target {  
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eee;
  margin-bottom: 4px !important;
}

div#upload-target:not(.loading) {
  cursor: pointer;
}

div#upload-target:not(.loading):hover {
  background-color: #ccc;
}

div#upload-target div#file-loading {
  display: none;
  margin-bottom: 0px;
}

div#upload-target.loading div#file-prompt {
  display: none;
}

div#upload-target.loading div#file-loading {
  display: block;
}

a.sample-data {
  margin-left: 16px;
  white-space: nowrap;
}

a.sample-data:first-of-type {
  margin-left: 0px;
}

div#section-choose-file {
  margin-bottom: 16px;
}

div#section-help h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}

div#pancake-div {
  text-align: center;  
}

img#pancake-img {
  border: 1px solid black;  
}

div#section-color label {
  margin-right: 0.25em;
}

div#section-color span {
  margin-right: 2em;
}

#color-stroke-width {
  width: 80px;
}

h2 {
  margin-top: 0;
}

#input-width,#input-height {
  width: 80px;
}

div#section-size span.form-control-static {
  margin-left: 0.25em;
}

div#section-size label,div#section-size button {
  margin-right: 0.5em;
  margin-left: 2em;
}

div#section-size label:first {
  margin-left: 0;
}

div#section-size select, div#section-behavior select {
  width: auto;
}

g#features path {
  cursor: pointer;
}

div#section-behavior label {
  margin-right: 2em;
  margin-left: 0.5em;
}

div#section-behavior label:first {
  margin-left: 0;
}

table#attributes th {
  text-align: center;
}

table#attributes tbody tr {
  cursor: pointer;
}

div#section-data div.panel {
  max-height: 240px;
  overflow-y: auto;
}

div#file-status {
  font-weight: bold;
  color: #444;  
  background-color: #dedede;  
  padding: 6px 0px;
}

div#file-status-inner span.filename {
  color: steelblue;
}

div#file-status-inner span.filesize {
  color: #999;
}

body.blanked div#file-status {
  display: none;
}

body.blanked ul.navbar-nav li:not(#choose-file) {
  display: none;
}

body.blanked div.mapstarter-section:not(.unblankable) {
   display: none;
}

pre {
  background-color: rgb(255,255,255);
  font-size: 15px;
}

div#pancake-div div {
  display: none;
}

div.loading-caption {
  padding-bottom: 8px;
  font-weight: bold;
  color: steelblue;
}

div#pancake-div.loading div {
  display: block;
}

div#pancake-div.loading img {
  display: none;
}

table#attributes

table#attributes th {
  font-weight: bold;
  text-align: center;
}

table#attributes tr:hover:not(.deleted) {
  background-color: #e6e6e6;
}

table#attributes td {
  text-align: left;
}

table#attributes th:last-of-type {
  border-color: transparent;
}

table#attributes th.sortable {  
  cursor: pointer;
}

table#attributes th.sortable:hover {  
  background-color: #e6e6e6;
}

table#attributes tr td:last-of-type {
  text-align: left;      
  border-color: transparent;
  cursor: auto;
}

table#attributes td, table#attributes th {  
  padding: 5px;
  border: 1px solid #ddd;
}

table#attributes td, table#attributes th span.glyphicon {
  color: #999;
}

table#attributes td, table#attributes th:hover {
  color: #333;
}

table#attributes th.sorted {
  color: steelblue;
}

table#attributes th.sorted span.glyphicon {
  color: steelblue;
}

table#attributes tr.deleted td:not(:last-of-type) {
  text-decoration: line-through;
  color: #999;
}

table#attributes tr.deleted td:last-of-type a {
  color: #999;
}

table#attributes tr td:last-of-type a span {
  font-weight: bold;
}

table#attributes {
  margin-left: auto;
  margin-right: auto;
}

.navbar .navbar-nav>li>a {
  font-weight: bold;
}

.navbar .navbar-nav>.active>a:hover {
  color: #000;  
}

.navbar .navbar-nav>.active>a,.navbar .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #dedede;
}

.btn {
  display: inline-block;
  margin: 0px;      
  font-weight: bold;      
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;      
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #444;
  background: #ebebeb;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {      
  background-color: #dedede;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover,    
.btn-group > .btn:focus,    
.btn-group > .btn:active,    
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group > .btn:focus {
  outline: none;
}

.btn.active {
  color: #000;
}

div#file-status-inner > div.progress {
  margin: 4px 300px;
  display: none;
}

div#file-status.loading div#file-status-inner > div {
  display: none;
}

div#file-status.loading  div#file-status-inner > div.progress {
  display: block;
}


div#tooltip {
  position: absolute;
  border: 1px solid black;
  background-color: #fff;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

div.palette {
  float: left;
  padding: 16px;
  cursor: pointer;
}

div.palette.selected {
  background-color: #ccc;
}

div.palette:not(.selected):hover {
  background-color: #dedede;
}

div.palette div.swatch {
  float: left;
  width: 16px;
  height: 24px;  
}

@media screen and (max-width: 1040px) {  

  div.container {
    width: 900px;
  }

  body:not(.blanked) .navbar-header {
    display: none;
  }
    
}