/* Reset the container */
.container {
  max-width: none !important;
  width: 900px;
}

.navbar {
  margin-bottom: 10px !important;  
}

h3 {
  margin-top: 0px !important;
  font-weight: bold;
}

body {      
  background-color: #fff;
}

span.navbar-brand, .navbar-default .navbar-brand,span.navbar-brand:hover, .navbar-default .navbar-brand:hover {
  font-weight: bold;
  color: steelblue;
  cursor: default;
}

#map-box {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 20px;
}

#map-box.hidden {
  display: none;
}

#map-box.loading {
  background-image: url('loading-map.gif');
}

div.hidden {
  display: none;
}

div#upload-target {  
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eee;
  margin-bottom: 4px !important;
}

div#upload-target:not(.loading) {
  cursor: pointer;
}

div#upload-target:not(.loading):hover {
  background-color: #ccc;
}

div#upload-target div.progress {
  display: none;
  margin-bottom: 0px;
}

div#upload-target.loading div#file-prompt {
  display: none;
}

div#upload-target.loading div.progress {
  display: block;
}

a.sample-data {
  margin-left: 16px;
  white-space: nowrap;
}

a.sample-data:first-of-type {
  margin-left: 0px;
}

div#section-choose-file {
  margin-bottom: 16px;
}

div#section-help h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}

div#pancake-div {
  text-align: center;  
}

img#pancake-img {
  border: 1px solid black;  
}

div#section-color label {
  margin-right: 0.25em;
}

div#section-color span {
  margin-right: 2em;
}

#color-stroke-width {
  width: 80px;
}

h2 {
  margin-top: 0;
}

#input-width,#input-height {
  width: 80px;
}

div#section-size span.form-control-static {
  margin-left: 0.25em;
}

div#section-size label,div#section-size button {
  margin-right: 0.5em;
  margin-left: 2em;
}

div#section-size label:first {
  margin-left: 0;
}

div#section-size select {
  width: auto;
}

g#features path {
  cursor: pointer;
}

div#section-behavior label {
  margin-right: 2em;
  margin-left: 0.5em;
}

div#section-behavior label:first {
  margin-left: 0;
}

table#attributes th {
  text-align: center;
}

table#attributes tbody tr {
  cursor: pointer;
}

div#section-data div.panel {
  max-height: 240px;
  overflow-y: auto;
}

div#file-status {
  font-weight: bold;
  color: #444;  
  background-color: #dedede;  
  padding: 6px 0px;
}

div#file-status-inner span.filename {
  color: steelblue;
}

div#file-status-inner span.filesize {
  color: #999;
}

body.blanked div#file-status {
  display: none;
}

body.blanked ul.navbar-nav li:not(#choose-file) {
  display: none;
}

body.blanked div.mapstarter-section:not(.unblankable) {
   display: none;
}

pre {
  background-color: rgb(255,255,255);
  font-size: 15px;
}

div#pancake-div.loading {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('loading.gif');
}